:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  .force-directed-canvas {
    border: 1px solid royalblue;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5px;
  }
}
