* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .row-flex {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .col-flex {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .hidden {
    display: none;
  }
}
